
/* Give body full-screen gradient instead of instead of sections */
body {
    background:
    radial-gradient(circle at 50% 10%,
    rgba(255,255,255,.35),
    rgba(255,255,255,0) 18%),

    linear-gradient(
        180deg,
        #181824 0%,
        #2a2338 45%,
        #402b3a 100%
    );
}

/* Use vh instead of fixed height to adjust with window size (100vh is full window) */
.heading {
    display: flex;
    /* background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(42, 36, 43, 1) 28%); */
    color: white;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: flex-start;
    height: 30vh;
}

.p1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.p1_name {
    display: flex;
    color: white;
    margin: 5px;
}

/* Insert player healthbar inside a fixed container "healthbar" so other parts don't move when healthbar width is changed */
.healthbar {
    display: flex;
    background-color: grey;
    /* padding: 20px; */
    /* margin: 5px; */
    width: 600px;
    height: 50px;
    border: 2px solid white;
}

.p1_healthbar,
.p2_healthbar {
    display: flex;
    background-color: red;
    width: 100%;
    height: 100%;
}

.vs {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #d4d249;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5)
}

.p2 {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
}

.p2_name {
    display: flex;
    color: white;
    margin: 5px;
    width: 100px;
}


.arena {
    display: flex;
    /* background: linear-gradient(180deg,rgba(42, 36, 43, 1) 0%, rgba(128, 33, 99, 1) 100%); */
    color: white;
    padding: 20px;
    justify-content: space-between;
    align-items: center;   
}

/* Set margin-bottom to adjust player position, width set with vw to adjust with window size. */
.p1_image,
.p2_image {
    margin-bottom: 200px;
    width:18vw;
    max-width:350px;
    min-width:180px;
}

.fight_start {
    /* align-items: center; */
    font-size: 40px;
}


.end {
    display: flex;
    background-image: linear-gradient(90deg, #262020 25%, #383333 25%, #383333 50%, #262020 50%, #262020 75%, #383333 75%, #383333 100%);
    background-size: 10vh 10vh;
    color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.start_button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #d3d16f;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.start_button:hover {background-color: #9eb14c}

.start_button:active {
  background-color: #d3d16f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}